.thrifter-smile {
  background: transparent;
  display: inline-block;
  margin: 0;
  width: 228px;
  height: 114px;
  border: 30px solid #fff;
  border-top: 0;
  border-bottom-left-radius: 228px;
  border-bottom-right-radius: 228px; }
  .thrifter-smile.thrifter-smile--small {
    border-width: 18px;
    width: 168px;
    height: 84px;
    border-bottom-left-radius: 168px;
    border-bottom-right-radius: 168px; }
  @media (max-width: 767px) {
    .thrifter-smile {
      border-width: 18px;
      width: 168px;
      height: 84px;
      border-bottom-left-radius: 168px;
      border-bottom-right-radius: 168px; } }

.thrifter-wave {
  position: relative; }
  .thrifter-wave:before {
    left: 0;
    top: -10%;
    position: absolute;
    width: 100%;
    height: 30%;
    content: '';
    background-image: url("thrifter-wave-sm.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top center;
    -webkit-animation: thrifter-wave 15s linear infinite;
            animation: thrifter-wave 15s linear infinite;
    background-position: 0 0;
    overflow: hidden; }
    p .thrifter-wave:before {
      top: 0;
      height: 25%; }

@-webkit-keyframes thrifter-wave {
  from {
    background-position: 0 0; }
  to {
    background-position: 200px 0; } }

@keyframes thrifter-wave {
  from {
    background-position: 0 0; }
  to {
    background-position: 200px 0; } }

.thrifter-wave--separater {
  margin: 10px 0;
  min-height: 20px; }
  .thrifter-wave--separater:before {
    height: 100%; }

.thrifter-wave--thin:before {
  background-image: url("thrifter-wave-sm-thin.png"); }

.thrifter-wave-inview {
  position: relative; }
  .thrifter-wave-inview:before {
    top: -10%;
    position: absolute;
    height: 30%;
    content: '';
    background: url("thrifter-wave-sm.png") top repeat-x;
    background-size: contain;
    background-position: 0 0;
    overflow: hidden;
    width: 0px;
    transition: width 1s;
    -webkit-transform: translate3d(0);
            transform: translate3d(0); }
    p .thrifter-wave-inview:before {
      top: 0;
      height: 25%; }
  .thrifter-wave-inview.thrifter-wave-inview--active:before {
    transition: width 2s;
    width: 100%; }

.thrifter-wave-rainbowbg {
  margin-top: 30px;
  position: relative;
  width: 100%;
  background: url("thrifter-wave-rainbowbg.png");
  -webkit-animation: thrifter-wave-rainbowbg 50s linear infinite;
          animation: thrifter-wave-rainbowbg 50s linear infinite;
  background-position: 0 0; }
  .thrifter-wave-rainbowbg:before {
    top: -30px;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    background: #fff url("thrifter-wave-rainbowbg__before.png") repeat-x;
    background-position: 0 0;
    -webkit-animation: thrifter-wave-rainbowbg 50s linear infinite;
            animation: thrifter-wave-rainbowbg 50s linear infinite; }

@-webkit-keyframes thrifter-wave-rainbowbg {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 100px 0; }
  100% {
    background-position: 0 0; } }

@keyframes thrifter-wave-rainbowbg {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 100px 0; }
  100% {
    background-position: 0 0; } }
/*# sourceMappingURL=waves.css.map */