$thrifter-smile-size: 114px;
$thrifter-smile-size-small: 84px;
.thrifter-smile {
  background: transparent;
  display: inline-block;
  margin: 0;
  width: $thrifter-smile-size * 2;
  height: $thrifter-smile-size;
  border: 30px solid #fff;
  border-top: 0;
  border-bottom-left-radius: $thrifter-smile-size * 2;
  border-bottom-right-radius: $thrifter-smile-size * 2;
  &.thrifter-smile--small {
    border-width: 18px;
    width: $thrifter-smile-size-small * 2;
    height: $thrifter-smile-size-small;
    border-bottom-left-radius: $thrifter-smile-size-small * 2;
    border-bottom-right-radius: $thrifter-smile-size-small * 2;
  }
  @media (max-width: 767px) {
    border-width: 18px;
    width: $thrifter-smile-size-small * 2;
    height: $thrifter-smile-size-small;
    border-bottom-left-radius: $thrifter-smile-size-small * 2;
    border-bottom-right-radius: $thrifter-smile-size-small * 2;
  }
}

.thrifter-wave {
  position: relative;

  &:before {
    left: 0;
    top: -10%;
    position: absolute;
    width: 100%;
    height: 30%;
    content: '';
    background-image: url('thrifter-wave-sm.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top center;
    animation: thrifter-wave 15s linear infinite;
    background-position: 0 0;
    overflow: hidden;
    p & {
      top: 0;
      height: 25%;
    }
  }
  @keyframes thrifter-wave {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 200px 0;
    }
  }
}

.thrifter-wave--separater {
  margin: 10px 0;
  min-height: 20px;
  &:before {
    height: 100%;
  }
}

.thrifter-wave--thin {
  &:before {
    background-image: url('thrifter-wave-sm-thin.png');
  }
}

.thrifter-wave-inview {
  position: relative;

  &:before {
    top: -10%;
    position: absolute;
    height: 30%;
    content: '';
    background: url('thrifter-wave-sm.png') top repeat-x;
    background-size: contain;
    background-position: 0 0;
    overflow: hidden;
    width: 0px;
    transition: width 1s;
    transform: translate3d(0);
    p & {
      top: 0;
      height: 25%;
    }
  }
  &.thrifter-wave-inview--active:before {
    transition: width 2s;
    width: 100%;
  }
}

.thrifter-wave-rainbowbg {
  margin-top: 30px;
  position: relative;
  width: 100%;
  background: url('thrifter-wave-rainbowbg.png');
  animation: thrifter-wave-rainbowbg 50s linear infinite;
  background-position: 0 0;

  &:before {
    top: -30px;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    background: #fff url('thrifter-wave-rainbowbg__before.png') repeat-x;
    background-position: 0 0;
    animation: thrifter-wave-rainbowbg 50s linear infinite;
  }
}

@keyframes thrifter-wave-rainbowbg {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100px 0;
  }
  100% {
    background-position: 0 0;
  }
}
