.deal-flow-body {
  background: #F5F4F5; }

.deal-flow {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PxGrotesk-Regular';
  padding: 25px;
  background: #F5F4F5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 1200px; }
  .deal-flow:before {
    left: -50%;
    top: 0;
    position: absolute;
    content: '';
    background: #F5F4F5;
    width: 200%;
    height: 100%; }
  .deal-flow a:hover {
    text-decoration: none; }
  .deal-flow a:focus {
    outline: 0; }

.deal-flow__deal {
  cursor: pointer;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 50px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 37px;
  width: 325px;
  -webkit-box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.25);
          box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.25);
  border-radius: 10px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .deal-flow__deal:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  .deal-flow__deal img {
    max-width: 100%; }

.deal-flow__deal-icon {
  position: absolute;
  top: -25px;
  left: -25px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(194, 194, 194, 0.25);
          box-shadow: 0px 4px 4px rgba(194, 194, 194, 0.25);
  border-radius: 50%; }
  .deal-flow__deal-icon:before {
    margin: 10px;
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px; }
  .deal-flow__deal-icon--editors-choice:before {
    background: url("./assets/img/editors-choice-icon.png") center/cover no-repeat; }
  .deal-flow__deal-icon--fashion:before {
    background: url("./assets/img/fashion-icon.png") center/cover no-repeat; }
  .deal-flow__deal-icon--fitness:before {
    background: url("./assets/img/fitness-icon.png") center/cover no-repeat; }
  .deal-flow__deal-icon--freebie:before {
    background: url("./assets/img/freebie-icon.png") center/cover no-repeat; }
  .deal-flow__deal-icon--gaming:before {
    background: url("./assets/img/gaming-icon.png") center/cover; }
  .deal-flow__deal-icon--home:before {
    background: url("./assets/img/home-icon.png") center/cover; }
  .deal-flow__deal-icon--readers-choice:before {
    background: url("./assets/img/readers-choice-icon.png") center/cover no-repeat; }
  .deal-flow__deal-icon--tech:before {
    background: url("./assets/img/tech-icon.png") center/cover; }
  .deal-flow__deal-icon--toys:before {
    background: url("./assets/img/toys-icon.png") center/cover; }

.deal-flow__deal-title {
  margin: 25px 0 15px 0;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }
  .deal-flow__deal-title:hover {
    opacity: .8; }

.deal-flow__deal-author {
  font-family: 'PxGrotesk-Light';
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
  color: #B8C8D3; }

.deal-flow__deal-comments {
  font-family: 'PxGrotesk-Light';
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: auto 0 0 0;
  font-size: 18px;
  color: #B8C8D3; }
  .deal-flow__deal-comments:before {
    margin: 0 5px 0 0;
    content: '\f086';
    font-family: 'FontAwesome'; }

.deal-flow__deal-price {
  position: absolute;
  background: #26D98B;
  bottom: -22px;
  padding: 0 15px;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 40px;
  line-height: 44px; }

.deal-flow-sponsored {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'PxGrotesk-Regular';
  padding: 25px;
  background: #F5F4F5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 1200px; }
  .deal-flow-sponsored:before {
    left: -50%;
    top: 0;
    position: absolute;
    content: '';
    background: #F5F4F5;
    width: 200%;
    height: 100%; }
  .deal-flow-sponsored a:hover {
    text-decoration: none; }

.deal-flow-sponsored__deal {
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 50px 25px 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 37px;
  -webkit-box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.25);
          box-shadow: 0px 0px 4px rgba(194, 194, 194, 0.25);
  border-radius: 10px; }
  @media (max-width: 767px) {
    .deal-flow-sponsored__deal {
      margin: 25px 0 0 0; } }
  .deal-flow-sponsored__deal a {
    -webkit-transition: ease-in-out .2s all;
    transition: ease-in-out .2s all; }
  .deal-flow-sponsored__deal img {
    max-width: 100%; }
  .deal-flow-sponsored__deal-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 450px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 50%; }
    @media (max-width: 768px) {
      .deal-flow-sponsored__deal-left {
        max-width: none; } }
  .deal-flow-sponsored__deal-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: calc(100% - 450px);
    padding: 0 0 0 50px; }
    @media (max-width: 768px) {
      .deal-flow-sponsored__deal-info {
        margin: 25px 0 0 0;
        width: 100%;
        padding: 0; } }
  .deal-flow-sponsored__deal-title {
    font-size: 48px;
    line-height: 1.1; }
    @media (max-width: 767px) {
      .deal-flow-sponsored__deal-title {
        text-align: center;
        font-size: 24px;
        margin: 0 0 25px 0; } }
    .deal-flow-sponsored__deal-title:hover {
      opacity: .8; }
  .deal-flow-sponsored__deal-description {
    font-size: 18px;
    font-family: 'PxGrotesk-Light'; }
    @media (max-width: 767px) {
      .deal-flow-sponsored__deal-description {
        display: none; } }
  .deal-flow-sponsored__deal-button {
    display: inline-lock;
    color: #fff;
    padding: 0 25px;
    font-size: 24px;
    line-height: 75px;
    background: #EA433E;
    border-radius: 50px;
    -webkit-transition: ease-in-out .3s;
    transition: ease-in-out .3s; }
    @media (max-width: 767px) {
      .deal-flow-sponsored__deal-button {
        margin: 0 auto;
        font-size: 18px;
        line-height: 50px; } }
    .deal-flow-sponsored__deal-button:hover {
      cursor: pointer;
      color: #fff;
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }

.deal-modal > div {
  padding: 0;
  width: 1089px; }
  @media (max-width: 768px) {
    .deal-modal > div {
      margin: 25px auto;
      width: 100%;
      padding: 0; } }

.deal-modal #header {
  display: none; }

.deal-modal .deal-page {
  margin: 0 auto; }

.deal-page {
  background: #fff;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PxGrotesk-Regular';
  -webkit-font-smoothing: antialiased;
  max-width: 1089px;
  margin: 50px auto; }
  @media (max-width: 768px) {
    .deal-page {
      margin: 15px; } }
  .deal-page__info {
    padding: 50px 25px 50px 50px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .deal-page__info {
        padding: 25px;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .deal-page__info-title {
      margin: 0;
      font-family: 'PxGrotesk-Light';
      font-size: 48px;
      font-weight: 300;
      line-height: 1.2; }
      @media (max-width: 768px) {
        .deal-page__info-title {
          font-size: 32px; } }
    .deal-page__info-social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-item-align: stretch;
          align-self: stretch;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 40%;
      line-height: 66px;
      color: #D1D1D1;
      font-size: 36px;
      border-right: 3px solid #F2F2F2;
      margin: 25px 0 0 0; }
      @media (max-width: 768px) {
        .deal-page__info-social {
          width: 110px;
          font-size: 24px; } }
      .deal-page__info-social a {
        margin: 0 30px 0 0;
        -webkit-transition: ease-in-out .2s all;
        transition: ease-in-out .2s all; }
        @media (max-width: 768px) {
          .deal-page__info-social a {
            margin: 0 15px 0 0; } }
        .deal-page__info-social a:hover {
          text-decoration: none; }
        .deal-page__info-social a.fa-facebook:hover {
          color: #3b5998; }
        .deal-page__info-social a.fa-twitter:hover {
          color: #0084b4; }
        .deal-page__info-social a.fa-pinterest:hover {
          color: #c92228; }
    .deal-page__info-found-by {
      color: #D1D1D1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 60%;
      margin: 25px 0 0 0;
      font-size: 16px; }
      @media (max-width: 768px) {
        .deal-page__info-found-by {
          font-size: 14px;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
    .deal-page__info-author-img {
      margin: 0 0 0 25px;
      width: 45px;
      height: 45px; }
      .deal-page__info-author-img img {
        max-width: 100%;
        border-radius: 50%; }
    .deal-page__info-buy-button {
      display: inline-block;
      margin: 25px 0;
      line-height: 55px;
      padding: 0 25px;
      background: #26D98B;
      border-radius: 40px;
      font-weight: 300;
      font-size: 24px;
      color: #fff;
      -webkit-transition: ease-in-out .3s all;
      transition: ease-in-out .3s all; }
      .deal-page__info-buy-button:hover {
        color: #fff;
        -webkit-transform: translateY(-3px);
                transform: translateY(-3px);
        text-decoration: none; }
  .deal-page__sidebar {
    padding: 50px 50px 50px 25px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media (max-width: 768px) {
      .deal-page__sidebar {
        padding: 0 25px 25px 25px;
        width: 100%; } }
    .deal-page__sidebar img {
      max-width: 100%; }
  .deal-page__comments {
    margin: 0 50px 50px 50px; }
    .deal-page__comments a:hover {
      opacity: .8; }
  .deal-page__comments-total {
    font-size: 18px; }
  .deal-page__comment {
    margin: 21px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-family: 'PxGrotesk-Light';
    color: #999; }
    @media (max-width: 768px) {
      .deal-page__comment {
        font-size: 14px; } }
    .deal-page__comment-avatar img {
      margin: 0 21px 0 0;
      width: 45px;
      height: 45px;
      border-radius: 50%; }
    .deal-page__comment-message {
      margin: 0; }
  .deal-page__comments-more {
    text-decoration: underline; }
    .deal-page__comments-more:hover {
      text-decoration: none; }
  .deal-page__footer {
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 267px;
    background: -webkit-gradient(linear, left top, right top, from(#1116DF), color-stop(49.17%, #932096), to(#DA3D4E));
    background: linear-gradient(90deg, #1116DF 0%, #932096 49.17%, #DA3D4E 100%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .deal-page__footer h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-line-pack: center;
          align-content: center;
      text-align: center;
      font-size: 24px;
      color: #FFFFFF;
      font-weight: 300; }
    .deal-page__footer .deal-page__footer-cta {
      min-width: 255px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 24px;
      color: #333;
      font-weight: 300;
      line-height: 75px;
      background: #FFFFFF;
      border-radius: 40px;
      -webkit-transition: ease-in-out .3s all;
      transition: ease-in-out .3s all; }
      .deal-page__footer .deal-page__footer-cta:hover {
        text-decoration: none;
        -webkit-transform: translateY(-3px);
                transform: translateY(-3px); }
/*# sourceMappingURL=style.css.map */